.menu-component{
    margin-right: 0;
    flex-basis: 26%;
    min-width:250px;
    flex-direction: row;
    justify-content: flex-start;
    padding-left:50px;
}

.header-navigation-menu {
  padding-bottom: 9px;
}

.menu-container .menu-items .header-navigation-menu{
    height:45px;
    display: flex;
    align-items: flex-end;
    font-size: 21px;
    text-decoration: none;
    color: #000;
}

.menu-container .menu-items .header-navigation-menu .text{
    border-bottom: 4px solid #008BE2;
    padding-bottom: 2px;
    cursor: pointer;
}
.menu-container .menu-items .header-navigation-menu.header-navigation__selected .text{
    border-bottom: 4px solid #F79F2C;
}
.menu-container .menu-items .header-navigation-menu .text:hover{ border-bottom: 4px solid #F79F2C;}
