.menu-component {
  margin-right: 0;
  flex-basis: 26%;
  min-width: 250px;
  flex-direction: row;
  justify-content: flex-start;
  .mobile-menu-header{
    display: none;
  }
  .logout-menu{
    display: none;
  }
  .bottom-mobile-menu{
    display:none
  }
}

.header-navigation-menu {
  padding-bottom: 9px;
}

.menu-container .menu-items .header-navigation-menu {
  height: 45px;
  display: flex;
  align-items: flex-end;
  font-size: 21px;
  font-family: 'Avenir-Heavy', sans-serif;
  text-decoration: none;
  color: #000;
}

.menu-container .menu-items .header-navigation-menu .text {
  border-bottom: 4px solid #008BE2;
  padding-bottom: 2px;
  cursor: pointer;
}

.menu-container .menu-items .header-navigation-menu.header-navigation__selected .text {
  border-bottom: 4px solid #F79F2C;
}

.menu-container .menu-items .header-navigation-menu .text:hover {
  border-bottom: 4px solid #F79F2C;
}

@media(min-width: 616px) and (max-width: 1140px) {
  .menu-component {
    flex-basis: 17%;
    min-width: 153px;
  }
}

@media(max-width: 616px) {
  .main-component {
    .bottom-mobile-menu{
      display: flex;
      padding-left: 20%;
      flex-direction: column;
      margin-top: 40px;
      .bottom-mobile-menu-item{
        margin: 10px 0 0 0;
        font-size: 14px;
        font-family: 'Avenir-Heavy', sans-serif;
        color: #323334;
      }
      .social-icons{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 38px;

        .icon{
          height: 30px;
          width: 30px;
          background: #0000009c;
          border-radius: 50%;
          margin-right: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          svg{
            width: 12px;
            height: 12px;

            fill:#fff;
          }
        }
      }

    }

    .mobile-menu-header{
      display: flex;
      justify-content: flex-end;
      padding: 25px;
    }

    .welcome-wrapper {
      display: flex;
      padding-left: 20%;
      padding-bottom: 42px;
    }

    .menu-container {
      overflow-y: scroll;
    }

    .separator {
      width: 1px;
      height: 15px;
      margin: 0 10px;
      background-color: #323334;
    }

    .user-first-name {
      font-size: 14px;
      font-family: 'Avenir-Light', sans-serif;
      color: #323334;
    }

    .user-choosed-plan {
      font-size: 14px;
      font-family: 'Avenir-Heavy', sans-serif;
      color: #323334;
    }
    
    .menu-component {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: #F5F8FA;
      display: none;
      z-index: 1;
      //display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .menu-items{
        padding-left:20%;
        .header-navigation-menu{
          font-size: 21px;
        }
      }
      .logout-menu{
        display: flex;
        padding-left: 20%;
        margin-top: 31px;
        font-size: 14px;
        font-family: 'Avenir-Heavy', sans-serif;
        color: #323334;
      }
    }

    .footer-mobile-menu {
      padding-left: 20%;
      margin-top: 19px;
      .phone-number {
        font-size: 16px;
        font-family: 'Avenir-Black', sans-serif;
        display: flex;
        align-items: center;
        color: #323334;
        img {
          margin-right: 8px;
        }
      }

      .rights-text {
        margin: 19px 0;
        font-size: 10px;
        font-family: 'Avenir-Medium', sans-serif;
        color: #939392;
      }
    }
  }
}

@media(min-width: 616px) {
  .welcome-wrapper,
  .footer-mobile-menu {
    display: none;
  }

}


