$base-blue : #008BE2;
$base-range:#F79F2C;


.custom-button-orange{
  background: $base-range;
  border:none;
  color:#fff;
  text-align: center;
  outline: none;
  height:40px;
  width:155px;
  border-radius:40px;
  cursor: pointer;
}



#root{
  background-color: #f1f1f1;
  font-family: 'Avenir-Light', sans-serif;
  @import "./styles/header";
  @import "./styles/auth";
  @import "./styles/left-menu";
  @import "./styles/login";
  @import "./styles/root/main";
  @import "./styles/root/carenotes";
  @import "./styles/root/notes";
  @import "./styles/root/profile";
  @import "./styles/root/shedule";
  @import "./styles/root/subscriptions";
  @import "./styles/root/changeSubscription";

}
