$base-blue : #008BE2;
$base-range:#F79F2C;



@mixin screen1380px (){
  @media(min-width:1081px){
    width:1080px;
  }
}

button{
  cursor: pointer;
}

.App{
  min-height: 100%;
  background-color: #F5F8FA;
}

.custom-button-orange{
  background: $base-range;
  border:none;
  color:#fff;
  text-align: center;
  outline: none;
  height:40px;
  font-size: 16px!important;
  font-family: 'Avenir-Heavy', sans-serif;
  width:155px!important;
  border-radius:40px;
  cursor: pointer;
}

.p-dialog .p-dialog-content{
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
#root{
  background-color: #f1f1f1;
  font-family: 'Avenir-Light', sans-serif;
  @import "./styles/header";
  @import "./styles/auth";
  @import "./styles/left-menu";
  @import "./styles/login";
  @import "./styles/root/main";
  @import "./styles/root/carenotes";
  @import "./styles/root/notes";
  @import "./styles/root/profile";
  @import "./styles/root/shedule";
  @import "./styles/root/subscriptions";
  @import "./styles/root/changeSubscription";
  @import "./styles/root/carenoteDescription";

}

@media (max-width:616px ){
  .App {
    background-color: #fff;
  }
}

@media (max-width:415px ){
  body{
    margin:0;
  }
  .main-component{
    padding:0!important;
    height:100%;
    background: #fff;
  }
}
