.notes-container {
  padding: 59px 85px 2px;
}

.notes-component {
  background: #fff;
}

.header {
  padding-bottom: 21px;
  color: #323334;
  font-size: 24px;
  font-size: 'Avenir-Heavy', sans-serif;
  text-align: left;
  border-bottom: 7px solid #eaedef;
}

.items-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.item {
  padding-top: 34px;
  padding-bottom: 28px;
  display: flex;
  border-bottom: 1px solid #D0D3D5;
}

.item:last-child {
  border-bottom: 7px solid #e7ebed;
  padding-bottom: 43px;
}

.date {
  color: #A1A2A5;
  flex-basis: 18%;
  text-align: left;
  font-family: 'Avenir-Medium', sans-serif;
}

.title {
  color: #323334;
  flex-basis: 70%;
  text-align: left;
  font-family: 'Avenir-Heavy', sans-serif;
  font-size: 16px;
  letter-spacing: 0
}

.search-img {
  flex-basis: 12%;
  text-align: right;
  cursor: pointer;
}

.search-icon {
  width: 19px;
}

.p-paginator {
  padding: 21px 85px 125px;
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  border: none;
}

.p-paginator-first,
.p-paginator-last {
  display: none;
}

.p-paginator-page {
  display: none;
}

.p-highlight {
  min-width: auto;
  display: inline-block;
  background: transparent;
  border: none;
  color: #A1A2A5;
}

.p-link:focus {
  box-shadow: none;
}

.pi-caret-left:before {
  content: "\003C";
}

.pi-caret-right:before {
  content: "\003E";
}

.p-paginator-next:hover,
.p-paginator-prev:hover {
  background-color: transparent;
  color: #008BE2;
}
