.change-subscriptions-component {
  font-family: sans-serif;
}

.change-subscriptions-container {
  width: 100%;
  padding: 47px 69px;
  background-color: #fff;
}

.change-subscriptions-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  p {
    &:first-child {
      color: #323334;
      font-size: 24px;
      font-family: 'Avenir-Heavy', sans-serif;
    }
    a {
      font-size: 14px;
      font-family: 'Avenir-Heavy', sans-serif;
      display: flex;
      align-items: center;
      img {
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }
}

.current-subscription {
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 7px solid #EAEDEF;
  border-bottom: 7px solid #EAEDEF;
  p {
    color: #323334;
    line-height: 24px;
    font-size: 16px;
    font-family: 'Avenir-Light', sans-serif;
  }
}

.avaliable-plan-subscription {
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #EAEDEF;
  p {
    color: #323334;
    line-height: 24px;
    font-size: 16px;
    font-family: 'Avenir-Light', sans-serif;
    flex-basis: 50%;
  }

  button {
    max-width: 186px;
    height: 40px;
    background-color: #F79F2C;
    border: 1px solid transparent;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    font-family: 'Avenir-Heavy', sans-serif;
    outline: none;
    flex-basis: 50%;
    cursor: pointer;
  }
}


// Confirmation modal window
.p-dialog .p-dialog-titlebar {
  border: 1px solid #fff;
}

.p-dialog .p-dialog-content{
  border: none;
}
.change-subscriptions-modal-window .p-dialog-titlebar {
  background-color: #fff;
  padding-bottom: 19px;
}

.change-subscriptions-modal-window .p-dialog .p-dialog-titlebar{
  border: 1px solid #fff;
}

.change-subscriptions-modal-window .pi-times:before {
  content: '\2715';
}

.change-subscriptions-modal-container {
  height: 221px;
  width: 484px;
}

.change-subscriptions-modal-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-size: 21px;
    font-family: 'Avenir-Light', sans-serif;
  }
  button{
    height: 40px;
    width: 155px;
    margin-top: 25px;
    border: 1px solid transparent;
    border-radius: 50px;
    color: #fff;
    background-color: #F79F2C;
    font-family: 'Avenir-Heavy', sans-serif;
    font-size: 16px;
    outline: none;
    cursor: pointer;
  }
}

// Second Confirmation modal window
.subscriptions-modal-window .p-dialog-titlebar {
  background-color: #fff;
  padding-bottom: 18px;
}

.subscriptions-modal-window .p-dialog .p-dialog-titlebar{
  border: 1px solid #fff;
}

.subscriptions-modal-window .pi-times:before {
  content: '\2715';
}

.subscriptions-modal-container {
  height: 384px;
  width: 458px;
}

.subscriptions-modal-text-box {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    text-align: center;
    font-size: 21px;
    line-height: 30px;
    font-family: 'Avenir-Light', sans-serif;
  }

  &:last-child {
    margin-top: 0;
  }
  button{
    height: 40px;
    width: 155px;
    margin-top: 25px;
    border: 1px solid transparent;
    border-radius: 50px;
    color: #fff;
    background-color: #F79F2C;
    font-family: 'Avenir-Heavy', sans-serif;
    font-size: 16px;
    outline: none;
    cursor: pointer;
  }
}
