.main-component{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding:30px 0;
    margin:auto;
  @include screen1380px()
}

.routers-montainer {

  //margin:auto;
}
