.profileContainer {
  padding: 58px 60px;
  background-color: #fff;
}

.profileContainer p {
  padding-bottom: 20px;
  text-align: left;
  color: #323334;
  border-bottom: 7px solid #EAEDEF;
  font-family: 'Avenir-Heavy', sans-serif;
  font-size: 24px;
}

div h5 {
  margin-top: 48px;
  margin-bottom: 31px;
  text-indent: 3px;
  text-transform: uppercase;
  text-align: left;
  color: #323334;
  font-size: 14px;
  font-family: 'Avenir-Heavy', sans-serif;
}

input {
  margin-bottom: 27px;
  padding: 15px 7px;
  border: none;
  border-bottom: 1px solid #A1A2A5;
  font-size: 14px;
  font-family: 'Avenir-Heavy', sans-serif;
  outline: none;
}

input::placeholder {
  color: #A1A2A5;
}

.relative {
  margin-bottom: 67px;
}

.userInfo {
  margin-bottom: 20px;
}

.relative,
.userInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.relative input,
.userInfo input {
  width: 48%;
}

.relative .smsCheckbox,
.checkboxContainer input {
  width: auto;
}

.paymentSection {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 7px solid #EAEDEF;
}

.billingAddress,
.paymentInfo {
  display: flex;
  flex-direction: column;
  width: 49%;
}

.paymentSection input {
  width: 100%;
}

.paymentSection h5 {
  text-transform: uppercase;
  color: #323334;
  font-size: 14px;
  font-family: 'Avenir-Heavy', sans-serif;
}

.profileButton {
  margin-top: 29px;
  padding: 11px 63px;
  border-radius: 50px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-family: 'Avenir-Heavy', sans-serif;
  background-color: #F79F2C;
  display: flex;
  cursor: pointer;
}


.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 29px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Avenir-Heavy', sans-serif;
  color: #A1A2A5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -3px;
  left: 0;
  height: 21px;
  width: 21px;
  background-color: #fff;
  border: 1px solid #A1A2A5;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

.checkboxContainer .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #707070;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.profileContainer{
  .field-item{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    input{
      width:100%;
      //margin-bottom: 27px;
      //padding: 15px 7px;
    }
    label{
      position: absolute;
      bottom: 8px;
      height:20px;
      width:100%;
      color: #e20d0a;
      font-size: 12px;
    }
    label.error{
      border-top:1px solid #e20d0a;
    }
  }
}

@media(max-width:440px){
  .profileContainer{
    padding:20px;
  }
   .relative input{
    width:100%;
     .checkboxContainer{
       input[type="checkbox"]{
         width: 0;
       }
     }
  }
  .relative {
    width:100%;
    .checkboxContainer{
      input[type="checkbox"]{
        width: 0;
      }
    }
  }
  .userInfo{
    .field-item{
      width:100%;
    }
  }
  .paymentSection{
    flex-direction: column;
    .paymentInfo , .billingAddress{
      width:100%;
    }
  }
}
