$base-blue : #008BE2;
$base-range:#F79F2C;

#root .routers-montainer {
    margin: 0;
    width: 860px;
}

.shedule-component {
    width: 1080px;
    height: 655px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding-top: 60px;  transition: all 1s;
    -webkit-animation: fadein .8s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein .8s; /* Firefox < 16 */
    -ms-animation: fadein .8s; /* Internet Explorer */
    -o-animation: fadein .8s; /* Opera < 12.1 */
    animation: fadein .8s;

    .container {
        display: flex;
        justify-content: center;
    }

    //margin-left: 110px;
    .custom-popup{
        width:484px;
        height:551px;
        border-radius: 10px;
        .p-dialog-titlebar{
            display: none;
            height:100px;
            background: #fff;
            border:none;
            button{
                outline: none;
                border: none;
            }
        }
        .p-dialog-content{
            height: 100%;
            display: flex;
            justify-content: center;
            border-radius: 10px;
            .modal-body{
                width:100%;
                .custom-popup-header{
                    height:60px;
                    display: flex;
                    justify-content: flex-end;
                    padding:9px;
                    border: none;
                    button{
                        outline: none;
                        cursor: pointer;
                        background: transparent;
                        border:none;
                        width:16px;
                        height:16px;
                        display: block;
                        img{
                            height:100%
                        }

                    }
                }
                .custom-body-content{
                    margin: auto;
                    width:345px;
                    .text{
                        font-size: 20px;
                        text-align: center;
                        font-family:'Avenir-Book'

                    }
                    .text.light{
                        font-family:'Avenir-Light'
                    }
                    .custom-type-items{
                        padding-top:55px;
                        display: flex;
                        flex-wrap: wrap;
                        div.custom-type-item.active:hover{
                            border-color:$base-blue;
                        }
                        div.custom-type-item.selected{
                            border-color:$base-blue;
                        }
                        div.custom-type-item.active:active{
                            border-color:$base-blue;
                        }
                        div.custom-type-item.active:active{
                            border-color:$base-blue;
                        }
                        div.custom-type-item{
                            height:40px;
                            width:155px;
                            padding:0;
                            cursor:pointer;
                            margin: auto;
                            margin-bottom: 20px;
                            border:1px solid #D0D3D5;
                            border-radius:40px;
                            text-align: center;
                            color:$base-blue;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                        }
                    }

                    .select-button{
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        .error{
                            color: #c53b3b;
                            font-size: 11px;
                            height: 20px;
                        }
                    }
                }
            }
        }


    }
    .select-time{
        height:442px;
    }
    .confirmed-popup{
        height:276px;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.shedule-component .top-content {
    width: 920px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 8px solid #EAEDEF;
    padding-bottom: 24px;
}

.shedule-component .top-content .text {
    font-size: 24px;
    font-family:'Avenir-Heavy', sans-serif;
}

.shedule-component .top-content button {
    border: none;
    font-size: 14px;
    font-family:'Avenir-Heavy', sans-serif;
    color: $base-blue;
    outline: none;
    background: none;
    cursor: pointer;
    margin-top: 4px;
    margin-right: -7px;
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
    }
}

.shedule-component .top-content .center-content {
    font-size: 14px;
    color: #323334;
    line-height: 30px;
}

.shedule-component .calendar-header {
    width: 920px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 44px;
}

.shedule-component .calendar-header .date-text {
    font-size: 18px;
    font-family: 'Avenir-Heavy', sans-serif;
}

.shedule-component .calendar-header button {
    color: #323334;
    border: none;
    outline: none;
    background: none;
    position: relative;
    padding-left: 26px;

}

.shedule-component .calendar-header button img {
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.shedule-component .calendar-header .next-button {
    padding-left: 0px;
    padding-right: 26px;
    font-size: 14px;
    font-family: 'Avenir-Light',sans-serif;
}

.shedule-component .calendar-header .prev-mont {
    font-family: 'Avenir-Light',sans-serif;
}

.shedule-component .calendar-header .next-button img {
    right: 0px;
    left: auto;
    transform: rotate(180deg);
}

.shedule-component .calendar-days {
    height: 285px;
    width: 960px;
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-top: 33px;
}

.shedule-component .calendar-days .item {
    width: 128px;
    height: 228px;
    box-shadow: 0px 3px 6px rgba(68, 68, 68, 0.6);
    border-radius: 6px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
    padding-top:0;
    padding-bottom:0;
    margin-right: 10px;
    cursor: pointer;

}
.shedule-component .calendar-days .item {
    border-bottom:0;
    .center{
        font-weight: 700;
    }
}

.shedule-component .calendar-days .item:hover {
    transform: scale(1.2);
}


.shedule-component .calendar-days .item .top {
    padding-top: 28px;
    width: 94px;
    border-bottom: 6px solid #EAEDEF;
    align-self: center;
    display: flex;
    justify-content: space-between;
}
.shedule-component .calendar-days .item.activated .top {
    padding-top: 28px;
    width: 94px;
    border-bottom: 6px solid $base-range;
    align-self: center;
    display: flex;
    justify-content: space-between;
}


.shedule-component .calendar-days .item .top span {
    font-size: 16px;
    font-family: 'Avenir-Heavy', sans-serif;
    padding-bottom: 4px;
}

.shedule-component .calendar-days .item .top .right {
    font-family: 'Avenir-Light', sans-serif;
}

.shedule-component .calendar-days .item .center {
    border-bottom: 6px solid #EAEDEF ;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 94px;
    height: 111px;
    span{
        span{
            font-size: 16px;
            font-family: 'Avenir-Heavy', sans-serif;
            color: #06060670;
        }
    }
}

.shedule-component .calendar-days .item.activated .center {
    border-bottom: 6px solid $base-range;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 94px;
    height: 111px;
}

.shedule-component .calendar-footer {
    border-top: 8px solid #EAEDEF;
    padding-top: 26px;
    width: 920px;
    align-self: center;
    display: flex;
    justify-content: center;

}

.shedule-component .calendar-footer span {
    color: #323334;
    font-size: 14px;
    line-height: 20px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.shedule-component .calendar-days .item:hover .center span {
    font-size: 20px;
    transition: all .7s;
}

.shedule-component .calendar-days .item .bottom {
    color: $base-blue;
    font-size: 12px;
    font-family: 'Avenir-Heavy', sans-serif;
    padding-top: 8px;
    text-align: center;
    cursor: pointer;
}
.shedule-component .calendar-days .item.activated .bottom {
   display:block;
}

.confirmed-popup .body-content.custom-body-content{
    margin: auto;
    width: 345px;
    height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.shedule-component .date {
    color: #323334;
}



@media(max-width: 1140px) {
    .shedule-component {
        padding-right: 10px;
        padding-left: 10px;
        width: auto;
        .top-content {
            width: 90vw;
            margin-left: 30px;
            margin-right: 30px;
        }
        .calendar-header {
            width: 90vw;
        }
        .calendar-footer {
            width: 90vw;
        }
        .container {
            padding-left: 30px;
            overflow-x: scroll;
            justify-content: flex-start;
            &::-webkit-scrollbar{
                display: none;
            }
        }
    }
}



@media (max-width: 965px) {
    .container {
        width: 96vw;
    }
}

@media (max-width: 616px) {
    #root .routers-montainer {
               margin: 0 !important;
           }


   .shedule-component {
       .top-content {
           flex-wrap: wrap;
           button {
               display: none;
           }
       }
       .custom-popup {
           width: 96vw;
       }
   }

}

@media(max-width: 416px) {
   .shedule-component {
        .custom-popup {
            .p-dialog-content {
                .modal-body{
                    .custom-body-content {
                        width: 90vw;
                    }
                }
            }
        }
   }
}

@media(max-width: 345px) {
    .shedule-component .custom-popup {
        height: auto;
    }

    .shedule-component .custom-popup .p-dialog-content {
        padding-bottom: 20px;
    }
}