.subscriptions-component {
  height: 75vh;
  min-height: 400px;
  background-color: #fff;
}

.main-container {
  padding: 64px 65px;
}

.subscriptions {
  margin-bottom: 21px;
  display: flex;
  justify-content: space-between;
}

.subscriptions p:first-child {
  margin: 0;
  font-size: 24px;
  font-family: 'Avenir-Heavy', sans-serif;
  color: #323334;
}

.subscriptions p:last-child {
  margin: 0;
  display: flex;
  align-items: flex-end;
}

.subscriptions a {
  text-decoration: none;
  font-size: 14px;
  font-family: 'Avenir-Heavy', sans-serif;
  color: #008BE2;
}

.choosenSubscription {
  padding: 49px 0;
  text-align: left;
  border-top: 5px solid #EAEDEF;
  border-bottom: 5px solid #EAEDEF;
}

.choosenSubscription p {
  margin: 0;
  padding-bottom: 5px;
  color: #323334;
}

.choosenSubscription p:first-child {
  font-weight: bold;
}
.change-plan-button{
  cursor: pointer;
}
.change-subscriptions-modal-window, .subscriptions-modal-window{
  border-radius: 10px;
  overflow: hidden;
}
